<%- include layouts/admin/head.ejs %>
<style>
	* {
		overflow: visible;
	}

	#cke_content-editor {
		width: 100%;
	}
</style>

<%- include layouts/admin/header.ejs %>
<%- include(inc) %> 
<%- include layouts/admin/footer.ejs %>
