
<div class="dropdown float-right mr-5" style="border-radius: 5px; transform: translateY(5px); z-index: 10;">
	<button
		class="btn <%=lang=='vi' ? 'btn-danger' : 'btn-primary'%> dropdown-toggle"
		type="button"
		id="dropdownMenuButton"
		data-toggle="dropdown"
		aria-haspopup="true"
		aria-expanded="false"
	>
		<%=lang=='vi'?'Tiếng Việt':'English'%>
	</button>
	<div class="dropdown-wrapper" style="position: absolute; bottom: 0">
		<div class="position-relative">
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="<%=switchLangs.en%>"> English </a>
				<a class="dropdown-item" href="<%=switchLangs.vi%>"> Tiếng Việt </a>
			</div>
		</div>
	</div>
</div>
