<div class="breadcrumbs">
	<div class="col-sm-4">
		<div class="page-header float-left">
			<div class="page-title">
				<h1>Dashboard</h1>
			</div>
		</div>
	</div>
</div>

<div class="content mt-3">
	<div class="col-sm-6 col-lg-3">
		<div class="card text-white bg-flat-color-1">
			<div class="card-body pb-0">
				<a href="/admin/posts" target="" style="color: rgb(0, 66, 247);">
					<h3 class="text-light">Total Blogs</h3>
				</a>

				<div style="padding-top: 10px;margin-left: 20px;">
					<h4 class="mb-2">
						<span class="count">
							<%= blogs.total || 0 %>
						</span>
					</h4>
					<span class="count">
						(<%= ((blogs.countIndex / blogs.total) * 100).toFixed(0) || 0 %>% public, index)
					</span>
				</div>

				<div class="chart-wrapper px-0" style="height: 70px" height="70">
					<canvas id="widgetChart1"></canvas>
				</div>
			</div>
		</div>
	</div>
	<!--/.col-->

</div>
<!-- .content -->