<div class="breadcrumbs">
	<div class="page-header float-left">
		<div class="page-title">
			<h1 class="d-inline-block float-left"><a href="/admin/posts" style="color: black;">List Post</a>
			</h1>
			<div class="d-flex align-items-center" style="height: 50px; padding-left: 20px">
				<div data-action="/admin/post" data-type="post"
					class="button-create-empty button btn-success p-2 pl-3 pr-3 br-7">
					Tạo mới
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-lg bg-light" style="padding-bottom: 100px">
	<% include ../../components/admin/posts/filter %>
		<br />
		<table class="table table-bordered" style="max-width: 1366px; margin: auto">
			<thead>
				<tr class="bg-primary text-light">
					<th scope="col">#ID</th>
					<th scope="col">Title</th>
					<th scope="col">Post Category</th>
					<th scope="col">Views</th>
					<th scope="col">Status</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<% if( posts && posts.length){ %>
					<% posts.forEach(post=> {%>
						<tr>
							<td rowspan="2" style="width: 150px">
								<div class="d-flex flex-column">
									<div class="d-flex justify-content-center">
										<%= FORMAT_ID_FN(`${post?._id}`) %>
									</div><br />

								</div>
							</td>
						<tr>
							<td scope="row">
								<div class="d-flex flex-column justify-content-center" style="max-width: 600px">
									<a href="https://blog.maasedu.com/<%= post?.category?.enSlug || '(Trống)' %>/<%= post.enSlug %>"
										target="_blank" style="color: brown;">
										<%=post.enName || '(chưa có bản dịch)' %>
									</a>
								</div>
							</td>
							<td scope="row">
								<div class="d-flex flex-column justify-content-center" style="max-width: 600px">
									<a href="/admin/post-categories/<%=post?.category?._id%>?lang=en">
										<%= post?.category?.enName || '(Trống)' %>
									</a>
								</div>
							</td>
							<td scope="row">
								<div class="d-flex flex-column justify-content-center" style="max-width: 600px">
									<%= post?.en?.views || 0 %>
								</div>
							</td>
							<td scope="row" style="width: 200px;">
								<% if(post?.en) { %>
									<div data-url="/admin/post-article/<%=post.en?._id%>/status/<%=  post?.en?.status != -1 ? -1 : 2 %>"
										data-id="<%=post?.en?._id%>"
										class="button btn-warning d-flex justify-content-center p-2 pl-3 pr-3 mb-1 br-7 button-update">
										<%= post?.en?.status !=-1 ? 'Đã duyệt' : 'Đã ẩn' %>
									</div>

									<% } %>
							</td>
							<td style="width: 70px">
								<div class="d-flex flex-column justify-content-center">
									<a href="/admin/post/<%=post._id%>?lang=en" data-id="<%=post._id%>"
										class="button btn-info p-2 pl-3 pr-3 br-7 mb-1">Chỉnh sửa</a>
									<div data-url="/admin/post/<%=post._id%>" data-id="<%=post._id%>"
										class="button btn-secondary p-1 pl-2 pr-2 br-7 mb-1 button-remove">
										Xóa
									</div>
								</div>
							</td>
						</tr>
						<% })} %>
			</tbody>
		</table>
		<br />
		<br />
		<div class="container d-flex justify-content-center">
			<div class="pagination" style="margin: auto; align-self: center; justify-self: center">
				<% pagination.forEach((link, index)=> {%>
					<a class="<%=page == index + 1 ? 'active': '' %>" href="<%=link%>">
						<%=index+1%>
					</a>
					<%}) %>
			</div>
		</div>
</div>

<script src="/admin/js/autoFilled.js"></script>