<div class="breadcrumbs">
  <div class="page-header float-left">
    <div class="page-name">
      <h1 class="d-inline-block float-left"><a href="/admin/post-categories" style="color: black;">Post
          Category</a></h1>
      <div class="d-flex align-items-center" style="height: 50px; padding-left: 20px">
        <div data-action="/admin/post-categories" data-type="post-categories"
          class="button-create-empty button btn-success p-2 pl-3 pr-3 br-7">
          Tạo mới
        </div>
      </div>
    </div>
  </div>
  <%- include ../../components/admin/languages_select %>
</div>

<div class="col-lg">
  <br />

  <br />
  <form method="PUT" action="/admin/post-categories/<%=category._id%>" class="form-horizontal">
    <input type="hidden" name="lang" value="<%=lang%>" />
    <input type="hidden" name="postCategory" value="<%=category._id%>" />

    <div class="card">
      <div class="card-header">
        <strong style="text-transform: uppercase">
          Bản dịch danh mục <%=lang=='vi' ? 'Tiếng Việt' : 'Tiếng Anh' %>
        </strong>
      </div>
      <div class="card-body" style="padding: 20px !important; position: relative">
        <div class="row">
          <div class="col-12 form-group">
            <% const thumbnailSrc="https://cms-maasedu.maasedtech.com" + category?.thumbnail?.src || "/noimage.jpg" %>
              <img onclick="openGallery(this, '#input-thumbnail')" src="<%=thumbnailSrc%>"
                style="width: 100%; cursor: pointer" class="gallery-image" />

              <% const thumbnailID=category?.thumbnail?._id || "" %>
                <input type="hidden" id="input-thumbnail" name="thumbnail" value="<%=thumbnailID%>" required />
          </div>

          <div class="col-12 form-group">
            <% const name=categoryInfo?.name || "" %>
              <label>Title</label>
              <input type="text" name="name" required=true id="title-input" class="form-control" value="<%=name%>"
                required />
              <br />

              <label>Slug (LINK URL)</label>
              <input type="text" name="slug" required=true id="slug-auto" class="form-control"
                value="<%=categoryInfo?.slug || ""%>" required />
              <div id="create-slug-btn" class="btn btn-info mt-2" style="cursor: pointer">Generate
                slug</div>
              <br>
              <br />

              <label>Description</label>
              <textarea name="description" rows="5" class="form-control"><%-categoryInfo?.description || ""%></textarea>
              <br />
              <hr />
          </div>

          <div class="col-12 form-group">
            <label for="introduce-content">Content </label>
            <textarea name="content" class="content-editor"
              id="content-editor"><%-categoryInfo?.content || ""%></textarea>
            <br />
          </div>

          <div class="col-12 form-group">
            <label>Status</label>
            <select name="status" id="" class="form-control" style="max-width: 200px">
              <option value="2" <%=`${categoryInfo?.status}`==2 && 'selected' %>>Public, index</option>
              <option value="1" <%=`${categoryInfo?.status}`==1 && 'selected' %>>Public, noindex</option>
              <option value="0" <%=(`${categoryInfo?.status}`==0 || !categoryInfo?.status) && 'selected' %>>Private
              </option>
            </select>
            <br />

            <label for="select" class=" form-control-label">Post Category</label>
            <select name="parent" id="category" class="form-control select-search-input">
              <option value="">Trống</option>
              <% if (categories && categories.length) { %>
                <% categories.forEach(e=> {%>
                  <% if (`${e._id}` !=`${category._id}`) { %>
                    <option value=<%- `"${e._id}"` %>
                      <%= `${e._id}`==`${category.parent}` && 'selected' %>>
                        <%= (lang=='en' ) ? e.enName : e.viName %>
                    </option>
                    <% } %>
                      <% }) %>
                        <% } %>
            </select>
            <br>
            <br>

            <label>SEO title</label>
            <input type="text" name="seo_title" maxlength="70" id="seo-title-auto" class="form-control"
              value="<%=categoryInfo?.seo_title || ""%>" />
            <div id="create-seo-title-btn" class="btn btn-info mt-2">Generate Title SEO
            </div>
            <br />
            <br />

            <label>SEO description</label>
            <textarea name="seo_description" maxlength="160" rows="3"
              class="form-control"><%-categoryInfo?.seo_description || "" %></textarea>
            <br />

            <label>SEO keywords</label>
            <i class="menu-icon fa fa-question-circle" title="Các keywords ngăn cách nhau bởi dấu phẩy"></i>
            <input type="text" name="seo_keywords" class="form-control" value="<%=categoryInfo?.seo_keywords || ""%>" />
            <br />

            <label>SEO schema</label>
            <textarea name="seo_schema" rows="3" class="form-control"><%-categoryInfo?.seo_schema || ""%></textarea>
            <br />

            <label>SEO canonical</label>
            <input type="text" name="seo_canonical" id="seo-title-auto" class="form-control"
              value="<%=categoryInfo?.seo_canonical || ""%>" />
            <br />

            <label>SEO lang</label>
            <input type="text" name="seo_lang" class="form-control" value="<%=categoryInfo?.seo_lang || " en"%>" />
            <br />

          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-sm">
          <i class="fa fa-dot-circle-o"></i> Đăng mới
        </button>
        <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
      </div>
    </div>
  </form>
</div>

<script src="/admin/js/autoFilled.js"></script>