<div class="breadcrumbs">
  <div class="page-header float-left">
    <div class="page-title">
      <h1 class="d-inline-block float-left"><a href="/admin/posts" style="color: black;">List Post</a>
      </h1>
      <div class="d-flex align-items-center" style="height: 50px; padding-left: 20px">
        <div data-action="/admin/post" data-type="post"
          class="button-create-empty button btn-success p-2 pl-3 pr-3 br-7">
          Tạo mới
        </div>
        <h5 class="p-2 pl-3 pr-3 br-7">
          <%=pageAnalysisScore?.text || '' %>
        </h5>
      </div>

    </div>
  </div>
</div>

<div class="col-lg">
  <br />

  <br />
  <form method="PUT" action="/admin/post/<%=post._id%>" class="form-horizontal">
    <input type="hidden" name="lang" value="<%=lang%>" />
    <input type="hidden" name="createdAt" value="<%=post?.createdAt || ''%>" />
    <input type="hidden" name="post" value="<%=post._id%>" />

    <div class="card">
      <div class="card-body" style="padding: 20px !important; position: relative">
        <div class="row">
          <div class="col-12 form-group">
            <% const thumbnailSrc="https://cms-maasedu.maasedtech.com" + article?.thumbnail?.src || "/noimage.jpg" %>
              <img onclick="openGallery(this, '#input-thumbnail')" src="<%=thumbnailSrc%>"
                style="width: 100%; cursor: pointer" class="gallery-image" />

              <% const thumbnailID=article?.thumbnail?._id || "" %>
                <input type="hidden" id="input-thumbnail" name="thumbnail" value="<%=thumbnailID%>" required />
          </div>

          <div class="col-12 form-group">
            <label>Title</label>
            <input type="text" name="name" required=true class="form-control count-word-input-string" id="title-input"
              value="<%=article?.name || ""%>" />
            <small class="help-block form-text">Count: <span class="count-word-input-preview">
                <%= article?.name %>
              </span> characters</small>
            <br />

            <label>Slug (LINK URL)</label>
            <input type="text" name="slug" required=true class="form-control slug-input-string"
              value="<%=article?.slug || ""%>" id="slug-auto" />
            <div id="create-slug-btn" class="btn btn-info mt-2" style="cursor: pointer">Generate
              slug</div>
            <br>
            <br />

            <label>Description</label>
            <textarea name="description" rows="5" class="form-control count-word-textarea-string"
              id="description-input"><%-article?.description || ""%></textarea>

            <small class="help-block form-text">Count: <span class="count-word-textarea-preview">
                <%= article?.description %>
              </span> characters</small>
            <br />
            <hr />
          </div>

          <div class="col-12 form-group">
            <label for="introduce-content">Content</label>
            <i class="menu-icon fa fa-question-circle"
              title="Sử dụng cao nhất là H2. Đảm bảo các tiêu đề phụ theo thứ tự từ H2, H3..."></i>
            <textarea name="content" class="content-editor count-word-content-string analyze-content-string"
              id="content-editor count-word-content-string">
              <%-article?.content || "" %></textarea>

            <small class="help-block form-text">Count: <span class="count-word-content-preview"
                id="count-word-content-preview">
                <%= article?.content %>
              </span> characters</small>

            <div id="check-get-internal-links-btn" class="btn btn-info mt-3 check-get-internal-links-btn">
              Get Internal Link
            </div>

            <div id="check-get-internal-link-preview" class="check-get-internal-link-preview">
              <div class="mt-3">
                <a style="font-size:16px;color: black;" href="#get-internal-link-preview" data-toggle="collapse">
                  List Internal Link ( <%= listInternalLink?.length || 0 %> recommended)
                </a>
              </div>
              <div id="get-internal-link-preview" class="collapse">
                <% for (let i=0; i < (listInternalLink?.length || 0); i++) {%>
                  <% const _listInternalLink=listInternalLink?.length ? listInternalLink?.[i] : '' %>
                    <div class=" mt-2">
                      - <a href="<%= _listInternalLink.slug %>" target="_blank" style="color: brown;">
                        <%= _listInternalLink.name %>
                      </a>
                    </div>
                    <% } %>
              </div>
            </div>
          </div>

          <div class=" col-12 form-group" style="padding-left: 0px;">
            <div class="col-4">
              <label>Views</label>
              <input type="number" name="views" required=true class="form-control" value="<%= article?.views || 0 %>"
                min="0" step="1" />
            </div>
            <div class="col-4">
              <label>Shared</label>
              <input type="number" name="shared" required=true class="form-control" value="<%= article?.shared || 0  %>"
                min="0" step="0.01" />
            </div>

            <div class="col-4">
              <label>Post At</label>
              <% const postAt=article?.postAt || new Date() %>
                <input type="date" name="postAt" class="form-control"
                  value="<%= DATE_FORMAT_FN(postAt, 'YYYY-MM-DD') %>" required />
            </div>
          </div>


          <!-- (`${category?.status}`==0 || !category?.status) && 'selected' -->
          <div class="col-4">
            <label>Status</label>
            <select name="status" id="" class="form-control">
              <option <%- `${article?.status}`==`2` ? "selected" : '' %> value="2">Public,
                index</option>
              <option <%- `${article?.status}`==`1` ? "selected" : '' %> value="1">Public, no
                index</option>
              <option <%- `${article?.status}`==`0` ? "selected" : '' %> value="0">Redirect, no
                index</option>
              <option <%- `${article?.status}`==`-1` ? "selected" : '' %> value="-1">Private,
                no index</option>
              <option <%- (`${article?.status}`==`-2` || !article?.status) && 'selected' %>
                value="-2">Trash
              </option>
            </select>
            <br />
          </div>

          <!-- <select name="category" id="postCategory" class="select-search-input item-select form-control"> -->
          <div class="col-4" style="padding-left: 0px;">
            <label for="select" class="form-control-label d-block">Post Category</label>
            <select name="category" class="select-search-input item-select form-control">
              <option value="" <%=!post.category && 'selected' %>>Trống</option>
              <% if (categories && categories.length) { %>
                <% categories.forEach(e=> {%>
                  <option value=<%- `"${e._id}"` %>
                    <%= `${e._id}`==`${post.category}` && 'selected' %>>
                      <%= (lang=='en' ) ? e.enName : e.viName %>
                  </option>
                  <% }) %>
                    <% } %>
            </select>
          </div>

          <div class="col-12 form-group">
            <label>Hash Tags</label>
            <i class="menu-icon fa fa-question-circle" title="Các Hash Tags ngăn cách nhau bởi dấu phẩy"></i>
            <textarea name="hashTags" rows="5" class="form-control"><%- article?.hashTags || ""%></textarea>
            <br />
          </div>

          <div class="col-12 form-group">
            <div class="col-6" style="padding-left: 0px;">
              <label>Author</label>
              <select name="author" id="postCategory" class="select-search-input form-control">
                <option value="" <%=!article?.author && 'selected' %>>Trống</option>
                <% if (listAuthor && listAuthor.length) { %>
                  <% listAuthor.forEach(e=> {%>
                    <option value=<%- `"${e._id}"` %>
                      <%= `${e._id}`==`${article?.author}` && 'selected' %>>
                        <%= e.title %>
                    </option>
                    <% }) %>
                      <% } %>
              </select>
              <br />
              <br />
            </div>
          </div>

          <div class="col-12 form-group">
            <div class="col-12" style="padding-left: 0px;">
              <label>Related blog</label>
              <div class="row col-12 form-group d-block">
                <div id="selector-container-blog-related">
                  <% for (let i=0; i < (article?.related?.length || 1); i++) {%>
                    <div class="select-container-blog-related mb-2" id="<%=`blog-related-${i}`%>">
                      <div class="d-flex align-items-center" style="align-items:center">
                        <div style="width: 80%">
                          <select name="related" class="form-control item-select">
                            <option value="">Trống</option>
                            <% if (listRelated && listRelated.length) { %>
                              <% listRelated.forEach(e=> { %>
                                <% const relatedBlogId=article?.related?.length ? article?.related?.[i] : '' %>
                                  <option value=<%- `"${e._id}"` %>
                                    <%= `${e._id}`==`${relatedBlogId}` && 'selected' %>
                                      >
                                      <%= e.name %>
                                  </option>
                                  <% }) %>
                                    <% } %>
                          </select>
                        </div>
                        <div
                          class="btn btn-danger ml-2 post-remove-btn d-flex align-items-center justify-content-center"
                          data-target=".item-select" style="max-height: 28px">-
                        </div>
                      </div>
                    </div>
                    <% } %>
                </div>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-success copy-button"
                  data-copy=".select-container-blog-related:last-child"
                  data-paste="#selector-container-blog-related">+</button>
              </div>
            </div>
          </div>

          <div class="col-12 form-group">
            <hr />

            <div class="col-6" style="padding-left: 0px;">
              <label>SEO Title (60 max recommended characters)</label>
              <!-- <i class="menu-icon fa fa-question-circle" title="Nếu để trống sẽ lấy title"></i> -->
              <input type="text" name="seo_title" maxlength="60" class="form-control count-word-seo-title-input-string"
                value="<%= article?.seo_title || "" %>" id="seo-title-auto" />
              <small class="help-block form-text">Count: <span class="count-word-seo-title-input-preview">
                  <%= article?.seo_title %>
                </span> out of <strong>60</strong> max recommended characters</small>

              <div id="create-seo-title-btn" class="btn btn-info mt-2">Generate Title SEO
              </div>
              <br />
              <br />

              <label>SEO description (160 max recommended characters)</label>
              <!-- <i class="menu-icon fa fa-question-circle" title="Nếu để trống sẽ lấy description"></i> -->
              <textarea name="seo_description" maxlength="160" rows="3"
                class="form-control count-word-textarea-string count-word-seo-description-string"
                id="seo-description-auto"><%-article?.seo_description || ""%></textarea>

              <small class="help-block form-text">Count: <span
                  class="count-word-textarea-preview count-word-seo-description-string-preview">
                  <%= article?.seo_description %>
                </span> out of <strong>160</strong> max recommended characters</small>
              <div id="create-seo-description-btn" class="btn btn-info mt-2">Generate Description SEO
              </div>
            </div>

            <div class="col-0.5">
            </div>

            <div class="col-5">
              <label>SEO keywords</label>
              <input type="text" name="seo_keywords" class="form-control analyze-keywords-string"
                value="<%=article?.seo_keywords || ""%>" />
              <br />

              <label>Seo canonical</label>
              <input type=" text" name="seo_canonical" class="form-control" value="<%=article?.seo_canonical || ""%>" />
              <br />

              <label>seo_lang</label>
              <input type="text" name="seo_lang" class="form-control" value="<%=article?.seo_lang || " en"%>"
              />
              <br />
            </div>


          </div>

          <div class="col-12 form-group">
            <hr />
            <div class="col-6" style="padding-left: 0px;">
              <label>Focus KeyPhrase: ( <small>Count: <span class="count-word-focus-keyphrase-input-preview">
                    <%= article?.focus_keyphrase %>
                  </span> out of <strong>160</strong> max recommended characters</small>) </label>
              <input type="text" name="focus_keyphrase" class="form-control count-word-focus-keyphrase-input-string"
                value="<%=article?.focus_keyphrase || ""%>" />

              <div id="check-focus-key-phrase-btn" class="btn btn-info mt-3 mr-3">
                Check Focus KeyPhrase
              </div>

              <div id="check-key-phrase-preview" class="check-key-phrase-preview mt-3">
                <label class="label-2 pl-3 pr-3 br-7">
                  KeyPhrase: <%= article?.focus_keyphrase?.split(",")?.[0] || article?.focus_keyphrase || '' %>
                    <strong>( <%= seoAnalyzerScore?.text || '0/100' %> )</strong>
                </label>
                <br />
                <% for (let i=0; i < (seoAnalyzer?.length || 0); i++) {%>
                  <% const _seoAnalyzer=seoAnalyzer?.length ? seoAnalyzer?.[i] : '' %>
                    <div class=" mt-2">
                      <a style="font-size:16px;color: black;" href="#<%= _seoAnalyzer.key %>" data-toggle="collapse">
                        <% if (_seoAnalyzer.status=='perfect' ) { %>
                          <i class="fa fa-check-circle-o mr-2 mb-2" style="font-size:24px;color: green;"
                            aria-hidden="true">
                          </i>
                          <% } else { %>
                            <i class="fa fa-times-circle mr-2 mb-2" style="font-size:24px;color: red;"
                              aria-hidden="true">
                            </i>
                            <% } %>
                              <%= _seoAnalyzer.title %>
                      </a>
                      <div id="<%= _seoAnalyzer.key %>" class="collapse">
                        - <%= _seoAnalyzer.text %> ( <%= _seoAnalyzer.score %> )
                      </div>
                    </div>
                    <% } %>
              </div>

              <div id="check-get-additional-key-phrases-btn"
                class="btn btn-info mt-3 check-get-additional-key-phrases-btn">
                Get Additional KeyPhrases
              </div>

              <div id="check-get-additional-key-phrase-preview" class="check-get-additional-key-phrase-preview">
                <div class="mt-3">
                  <a style="font-size:16px;color: black;" href="#get-additional-key-phrase-preview"
                    data-toggle="collapse">
                    List Additional KeyPhrases ( <%= listKeyPhrases?.length || 0 %> recommended)
                  </a>
                </div>
                <div id="get-additional-key-phrase-preview" class="collapse">
                  <% for (let i=0; i < (listKeyPhrases?.length || 0); i++) {%>
                    <% const _listKeyPhrases=listKeyPhrases?.length ? listKeyPhrases?.[i] : '' %>
                      <div class=" mt-2">
                        - <%= _listKeyPhrases.title %>
                      </div>
                      <% } %>
                </div>
              </div>

            </div>

            <div class="col-0.5">
            </div>

            <div class="col-5">
              <label><strong>Additional Keyphrases</strong>: Improve your SEO rankings width additional
                keyphrase</label>

              <div id="check-key-phrase-preview-additional" class="check-key-phrase-preview-additional">

                <% for (let j=0; j < (seoAnalyzerAdditions?.length || 0); j++) {%>
                  <div class=" mt-2">
                    <% const _seoAnalyzerAdditions=seoAnalyzerAdditions?.length ? seoAnalyzerAdditions?.[j] : {} %>
                      <a style="font-size:16px;color: black;" href="#<%= _seoAnalyzerAdditions.key %>"
                        data-toggle="collapse">
                        - <%= _seoAnalyzerAdditions.title %> <strong>( <%= _seoAnalyzerAdditions.score.text || "0/100"
                              %>
                              )</strong>
                      </a>

                      <div id="<%= _seoAnalyzerAdditions.key %>" class="collapse">
                        <% for (let i=0; i < (_seoAnalyzerAdditions?.seoAnalyzer?.length || 0); i++) {%>
                          <% const _seoAnalyzer=_seoAnalyzerAdditions?.seoAnalyzer?.length ?
                            _seoAnalyzerAdditions?.seoAnalyzer?.[i] : '' %>
                            <div class=" mt-2">
                              <a style="font-size:16px;color: black;" href="#<%= _seoAnalyzer.key %>"
                                data-toggle="collapse">
                                <% if (_seoAnalyzer.status=='perfect' ) { %>
                                  <i class="fa fa-check-circle-o mr-2 mb-2" style="font-size:24px;color: green;"
                                    aria-hidden="true">
                                  </i>
                                  <% } else { %>
                                    <i class="fa fa-times-circle mr-2 mb-2" style="font-size:24px;color: red;"
                                      aria-hidden="true">
                                    </i>
                                    <% } %>
                                      <%= _seoAnalyzer.title %>
                              </a>
                              <div id="<%= _seoAnalyzer.key %>" class="collapse">
                                - <%= _seoAnalyzer.text %> ( <%= _seoAnalyzer.score %> )
                              </div>
                            </div>
                            <% } %>
                      </div>
                  </div>
                  <% } %>
              </div>

            </div>

          </div>

          <div class="col-12 form-group" style="height: 600px;overflow: scroll;">
            <hr />
            <label>Page Analysis</label>
            <div id="check-page-analysis-btn" class="btn btn-info mr-2">
              Check Page Analysis
            </div>
            <strong class="page-analysis-score" id="page-analysis-score">
              <%=pageAnalysisScore?.text || '' %>
            </strong>
            <br />
            <br />

            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active basic-seo-error-count" href="#pageAnalysisBasicSEO" id="basic-seo-error-count"
                  role="tab" data-toggle="tab">Basic SEO
                  <%- pageAnalysis.basicSEOCountError> 0 ?
                    pageAnalysis.basicSEOCountError > 1 ?
                    `<label style="color: #f18200;">( ${pageAnalysis.basicSEOCountError} Errors )</label>` :
                    `<label style="color: #f18200;">( ${pageAnalysis.basicSEOCountError} Error )</label>` :
                    `<label style="color: #00aa63;">( All Good )</label>` %>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link title-error-count" href="#pageAnalysisTitle" id="title-error-count" role="tab"
                  data-toggle="tab">Title
                  <%- pageAnalysis.titleCountError> 0 ?
                    pageAnalysis.titleCountError > 1 ?
                    `<label style="color: #f18200;">( ${pageAnalysis.titleCountError} Errors )</label>` :
                    `<label style="color: #f18200;">( ${pageAnalysis.titleCountError} Error )</label>` :
                    `<label style="color: #00aa63;">( All Good )</label>` %>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link readability-error-count" href="#pageAnalysisReadability" id="readability-error-count"
                  role="tab" data-toggle="tab">Readability
                  <%- pageAnalysis.readabilityCountError> 0 ?
                    pageAnalysis.readabilityCountError > 1 ?
                    `<label style="color: #f18200;">( ${pageAnalysis.readabilityCountError} Errors
                      )</label>` :
                    `<label style="color: #f18200;">( ${pageAnalysis.readabilityCountError} Error )</label>`
                    :
                    `<label style="color: #00aa63;">( All Good )</label>` %><label style="color: #f18200;">
                </a>
              </li>
            </ul>

            <div id="check-key-phrase-preview" class="tab-content check-key-phrase-preview">
              <div role="tabpanel" class="tab-pane pageAnalysisBasicSEO active" id="pageAnalysisBasicSEO">
                <% for (let i=0; i < (pageAnalysis.basicSEO?.length || 0); i++) {%>
                  <% const _basicSEO=pageAnalysis.basicSEO?.length ? pageAnalysis.basicSEO?.[i] : '' %>
                    <div class="mt-2">
                      <a style="font-size:16px;color: black;" href="#<%= _basicSEO.key %>" data-toggle="collapse">
                        <% if (_basicSEO.status=='perfect' ) { %>
                          <i class="fa fa-check-circle-o mr-2 mb-2" style="font-size:24px;color: green;"
                            aria-hidden="true">
                          </i>
                          <% } else { %>
                            <i class="fa fa-times-circle mr-2 mb-2" style="font-size:24px;color: red;"
                              aria-hidden="true">
                            </i>
                            <% } %>
                              <%= _basicSEO.title %>
                      </a>
                      <div id="<%= _basicSEO.key %>" class="collapse">
                        - <%= _basicSEO.text %>
                      </div>
                    </div>
                    <% } %>
              </div>
              <div role="tabpanel" class="tab-pane pageAnalysisTitle fade" id="pageAnalysisTitle">
                <% for (let i=0; i < (pageAnalysis.title?.length || 0); i++) {%>
                  <% const _title=pageAnalysis.title?.length ? pageAnalysis.title?.[i] : '' %>
                    <div class="mt-2">
                      <a style="font-size:16px;color: black;" href="#<%= _title.key %>" data-toggle="collapse">
                        <% if (_title.status=='perfect' ) { %>
                          <i class="fa fa-check-circle-o mr-2 mb-2" style="font-size:24px;color: green;"
                            aria-hidden="true">
                          </i>
                          <% } else { %>
                            <i class="fa fa-times-circle mr-2 mb-2" style="font-size:24px;color: red;"
                              aria-hidden="true">
                            </i>
                            <% } %>
                              <%= _title.title %>
                      </a>
                      <div id="<%= _title.key %>" class="collapse">
                        - <%= _title.text %>
                      </div>
                    </div>
                    <% } %>
              </div>
              <div role="tabpanel" class="tab-pane pageAnalysisReadability fade" id="pageAnalysisReadability">
                <% for (let i=0; i < (pageAnalysis.readability?.length || 0); i++) {%>
                  <% const _readability=pageAnalysis.readability?.length ? pageAnalysis.readability?.[i] : '' %>
                    <div class="mt-2">
                      <a style="font-size:16px;color: black;" href="#<%= _readability.key %>" data-toggle="collapse">
                        <% if (_readability.status=='perfect' ) { %>
                          <i class="fa fa-check-circle-o mr-2 mb-2" style="font-size:24px;color: green;"
                            aria-hidden="true">
                          </i>
                          <% } else { %>
                            <i class="fa fa-times-circle mr-2 mb-2" style="font-size:24px;color: red;"
                              aria-hidden="true">
                            </i>
                            <% } %>
                              <%= _readability.title %>
                      </a>
                      <div id="<%= _readability.key %>" class="collapse">
                        - <%= _readability.text %>
                      </div>
                    </div>
                    <% } %>
              </div>
            </div>
          </div>

          <div class="col-12 form-group">
            <hr />
            <a style="font-size:16px;color: black;" href="#snipper-preview" data-toggle="collapse">
              Snipper Preview
            </a>
            <br />
            <br />

            <div id="snipper-preview" class="collapse">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active basic-seo-error-count" href="#general" id="basic-seo-error-count" role="tab"
                    data-toggle="tab"> Overview without images
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link basic-seo-error-count" href="#general-image" id="basic-seo-error-count" role="tab"
                    data-toggle="tab"> Overview with images
                  </a>

                </li>

              </ul>


              <div id="check-snipper-preview" class="tab-content check-snipper-preview">

                <div role="tabpanel" class="tab-pane general active" id="general">
                  <ul class="nav nav-tabs justify-content-end" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active " href="#general-desktop" role="tab" data-toggle="tab"> Desktop
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="#general-mobile" id="" role="tab" data-toggle="tab">Mobile
                      </a>
                    </li>
                  </ul>

                  <div id="check-snipper-preview-general" class="tab-content check-snipper-preview-general">
                    <div role="tabpanel" class="tab-pane general-desktop active" id="general-desktop">

                      <div>
                        <div class="col-2">
                          <p>Snippet Preview</p>
                        </div>

                        <div class="aioseo-col col-xs-12 col-md-9 text-xs-left">
                          <div class="settings-content">
                            <div class="aioseo-google-search-preview">
                              <div class="col-9 col-lg-10 pr-0 pl-0">
                                <div class="google-post">
                                  <div style="display: flex; align-items: center; justify-content: start; gap: 8px">
                                    <img src="/favicon.ico" alt="MAAS Favicon icon" width="36px" height="36px"
                                      style="border-radius: 50%; object-fit: cover; outline: 1px solid black" />
                                    <div>
                                      <p style="font-size: 14px; color: #000000; font-weight: 600; display: block; line-height: 20px; white-space: nowrap; margin: 0"
                                        class="text">MAAS Edtech</p>
                                      <a href=" <%=`https://maasedu.com/blog/`+ article?.slug || "" %>"
                                        style="font-size: 12px; line-height: 18px; text-decoration: none; color: black; white-space: nowrap;"
                                        target="_blank" class="config-tags-a">
                                        <%=`https: //test-maas.maasedtech.com/blog/`+ article?.slug || "" %>
                                      </a>
                                    </div>
                                  </div>

                                  <div class="site-title snipper-preview-site-title mt-2">
                                    <%= article?.seo_title || "" %>
                                  </div>
                                  <div class="meta-description snipper-preview-meta-description">
                                    <%-article?.seo_description || "" %>
                                  </div>
                                </div>
                              </div>
                              <div class="col-3 col-lg-2  pr-0 pl-0">
                                <img class="snipper-preview-site-image" src="<%=thumbnailSrc%>" alt="Blog Image"
                                  width="92px" height="92px" style="aspect-ratio: auto 92 / 92; border-radius: 8px" />
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>

                    </div>

                    <div role="tabpanel" class="tab-pane general-mobile" id="general-mobile">

                      <div>
                        <div class="col-2">
                          <p>Snippet Preview</p>
                        </div>
                        <div class="aioseo-col-mobile col-xs-12 col-md-9 text-xs-left">
                          <div class="settings-content">
                            <div class="aioseo-google-search-preview-mobile">
                              <div class="google-post-mobile">
                                <div class="domain-mobile">
                                  <div style="display: flex; align-items: center; justify-content: start; gap: 8px">
                                    <img src="/favicon.ico" alt="MAAS Favicon icon" width="36px" height="36px"
                                      style="border-radius: 50%; object-fit: cover; outline: 1px solid black" />
                                    <div>
                                      <p style="font-size: 14px; color: #000000; font-weight: 600; display: block; line-height: 20px; white-space: nowrap; margin: 0"
                                        class="text">MAAS Edtech</p>
                                      <a href="<%=`https://maasedu.com/blog/`+ article?.slug || "" %>"
                                        style="font-size: 12px; line-height: 18px; text-decoration: none; color: black; white-space: nowrap"
                                        target="_blank" class="config-tags-a-mobile">
                                        <%=`https: //test-maas.maasedtech.com/blog/`+ article?.slug || "" %>
                                      </a>
                                    </div>
                                  </div>
                                </div>

                                <div class="site-title-mobile snipper-preview-site-title-mobile">
                                  <%= article?.seo_title || "" %>
                                </div>
                                <div>
                                  <div class="col-8 pr-0" style="padding-left: 0px;">
                                    <div class="meta-description-mobile snipper-preview-meta-description-mobile">
                                      <%-article?.seo_description || "" %>
                                    </div>
                                  </div>
                                  <div class="col-4 pr-0">
                                    <img class="snipper-preview-site-image-mobile" src="<%=thumbnailSrc%>"
                                      alt="Blog Image" width="92px" height="92px"
                                      style="aspect-ratio: auto 92 / 92; border-radius: 8px" />
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>

                      </div>

                    </div>

                  </div>

                </div>

                <div role="tabpanel" class="tab-pane general" id="general-image">
                  <ul class="nav nav-tabs justify-content-end" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active " href="#general-desktop-image" role="tab" data-toggle="tab"> Desktop
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="#general-mobile-image" id="" role="tab" data-toggle="tab">Mobile
                      </a>
                    </li>
                  </ul>

                  <div id="check-snipper-preview-general" class="tab-content check-snipper-preview-general">
                    <div role="tabpanel" class="tab-pane general-desktop active" id="general-desktop-image">

                      <div>
                        <div class="col-2">
                          <p>Snippet Preview</p>
                        </div>

                        <div class="aioseo-col col-xs-12 col-md-9 text-xs-left">
                          <div class="settings-content">
                            <div class="aioseo-google-search-preview">
                              <div class="google-post">
                                <div style="display: flex; align-items: center; justify-content: start; gap: 8px">
                                  <img src="/favicon.ico" alt="MAAS Favicon icon" width="36px" height="36px"
                                    style="border-radius: 50%; object-fit: cover; outline: 1px solid black" />
                                  <div class="col-6">
                                    <p style="font-size: 14px; color: #000000; font-weight: 600; display: block; line-height: 20px; white-space: nowrap; margin: 0"
                                      class="text">MAAS Edtech</p>
                                    <a href=" <%=`https://maasedu.com/blog/`+ article?.slug || "" %>"
                                      style="font-size: 12px; line-height: 18px; text-decoration: none; color: black; white-space: nowrap"
                                      target="_blank">
                                      <%=`https: //test-maas.maasedtech.com/blog/`+ article?.slug || "" %>
                                    </a>
                                  </div>
                                </div>

                                <div class="site-title snipper-preview-site-title mt-2">
                                  <%= article?.seo_title || "" %>
                                </div>
                                <div class="meta-description snipper-preview-meta-description">
                                  <%-article?.seo_description || "" %>
                                </div>
                              </div>

                            </div>
                          </div>

                        </div>
                      </div>

                    </div>

                    <div role="tabpanel" class="tab-pane general-mobile" id="general-mobile-image">

                      <div>
                        <div class="col-2">
                          <p>Snippet Preview</p>
                        </div>
                        <div class="aioseo-col-mobile col-xs-12 col-md-9 text-xs-left">
                          <div class="settings-content">
                            <div class="aioseo-google-search-preview-mobile">
                              <div class="google-post-mobile">
                                <div class="domain-mobile">
                                  <div style="display: flex; align-items: center; justify-content: start; gap: 8px">
                                    <img src="/favicon.ico" alt="MAAS Favicon icon" width="36px" height="36px"
                                      style="border-radius: 50%; object-fit: cover; outline: 1px solid black" />
                                    <div>
                                      <p style="font-size: 14px; color: #000000; font-weight: 600; display: block; line-height: 20px; white-space: nowrap; margin: 0"
                                        class="text">MAAS Edtech</p>
                                      <a href=" <%=`https://maasedu.com/blog/`+ article?.slug || "" %>"
                                        style="font-size: 12px; line-height: 18px; text-decoration: none; color: black; white-space: nowrap"
                                        target="_blank" class="text-ellipsis">
                                        <%=`https: //test-maas.maasedtech.com/blog/`+ article?.slug || "" %>
                                      </a>
                                    </div>
                                  </div>
                                </div>

                                <div class="site-title-mobile snipper-preview-site-title-mobile">
                                  <%= article?.seo_title || "" %>
                                </div>
                                <div>
                                  <div class="meta-description-mobile snipper-preview-meta-description-mobile">
                                    <%-article?.seo_description || "" %>
                                  </div>


                                </div>

                              </div>
                            </div>
                          </div>
                        </div>

                      </div>

                    </div>

                  </div>

                </div>


              </div>

            </div>

          </div>


        </div>

      </div>
    </div>

    <div class="card-footer">
      <button type="submit" class="btn btn-primary btn-sm">
        <i class="fa fa-dot-circle-o"></i> Đăng mới
      </button>
      <button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
    </div>
</div>
</form>
</div>

<script src="/admin/js/autoFilled.js"></script>
<%- include ../../scripts/addForm.ejs %>
  <%- include ../../scripts/seo_script.ejs %>

    <style>
      .aioseo-col {
        margin-top: 16px;
        display: flex;
        width: 650px;
        height: 200px;
      }

      .config-tags-a {
        max-width: 350px;
        /* Đặt giá trị max-width theo nhu cầu của bạn */
        display: inline-block;
        /* Để max-width hoạt động, bạn có thể sử dụng display: inline-block hoặc block */
        overflow: hidden;
        /* Tránh tràn nội dung nếu có */
        text-overflow: ellipsis;
        /* Thêm hiệu ứng "ellipsis" nếu nội dung quá dài */
        white-space: nowrap;
      }

      .config-tags-a-mobile {
        max-width: 250px;
        /* Đặt giá trị max-width theo nhu cầu của bạn */
        display: inline-block;
        /* Để max-width hoạt động, bạn có thể sử dụng display: inline-block hoặc block */
        overflow: hidden;
        /* Tránh tràn nội dung nếu có */
        text-overflow: ellipsis;
        /* Thêm hiệu ứng "ellipsis" nếu nội dung quá dài */
        white-space: nowrap;
      }

      .google-post {
        padding: 10px;
      }

      .settings-content {
        display: flex;
        width: 100%;
        height: 100%;
      }

      .aioseo-google-search-preview {
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 16px;
        width: 100%;
        height: 100%;
      }

      .site-title {
        color: #1a0dab;
        font-size: 16px;
        line-height: 24px;
      }

      .meta-description {
        color: #4d5156;
        font-size: 14px;
        line-height: 22px;
        max-width: 600px;
        width: 100%;
        overflow-wrap: break-word;
      }

      .domain {
        color: #202124;
        font-size: 14px;
        line-height: 22px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .aioseo-col-mobile {
        margin-top: 16px;
        display: flex;
        width: 380px;
        height: 230px;
        justify-content: center;
      }

      .aioseo-google-search-preview-mobile {
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 13px;
        width: 100%;
        height: 100%;
      }

      .site-title-mobile {
        color: #1a0dab;
        font-size: 16px;
        line-height: 24px;
        margin: 5px;
      }

      .meta-description-mobile {
        color: #4d5156;
        font-size: 14px;
        line-height: 22px;
        max-width: 600px;
        width: 100%;
        overflow-wrap: break-word;
      }

      .domain-mobile {
        color: #202124;
        font-size: 14px;
        line-height: 22px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    </style>