<div class="breadcrumbs">
	<div class="page-header float-left">
		<div class="page-title">
			<h1 class="d-inline-block float-left"><a href="/admin/post-categories" style="color: black;">Post
					Category</a></h1>
			<div class="d-flex align-items-center" style="height: 50px; padding-left: 20px">
				<div data-action="/admin/post-categories" data-type="post-categories"
					class="button-create-empty button btn-success p-2 pl-3 pr-3 br-7">
					Tạo mới
				</div>
			</div>
		</div>
	</div>

</div>

<div class="col-lg bg-light" style="padding-bottom: 100px">
	<% include ../../components/admin/post_categories/filter %>
		<br />
		<table class="table table-bordered" style="max-width: 1280px; margin: auto">
			<thead>
				<tr class="bg-primary text-light">
					<th scope="col">#ID</th>
					<th scope="col">Title</th>
					<th scope="col">Parent</th>
					<th scope="col">Views</th>
					<th scope="col">Status</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<% categories.forEach(category=> {%>
					<tr>
						<td rowspan="2" style="width: 150px">
							<div class="d-flex flex-column">
								<div class="d-flex justify-content-center">
									<%=FORMAT_ID_FN(`${category._id}`)%> <br />
								</div>
								<br />
							</div>
						</td>
					</tr>
					<tr>
						<td scope="row">
							<div class="d-flex flex-column justify-content-center" style="max-width: 600px">
								<%=category.enName || '(chưa có bản dịch)' %>
							</div>
						</td>
						<td scope="row">
							<div class="d-flex flex-column justify-content-center" style="max-width: 600px">
								<%=category?.parent?.enName || '(Trống)' %>
							</div>
						</td>
						<td scope="row">
							<div class="d-flex flex-column justify-content-center" style="max-width: 600px">
								<%= category?.en?.views || 0 %>
							</div>
						</td>
						<td scope="row" style="width: 200px;">
							<% if(category?.en) { %>
								<div data-url="/admin/post-categories/<%=category.en?._id%>/status/<%=  category?.en?.status != 0 ? 0 : 2 %>"
									data-id="<%=category?.en?._id%>"
									class="button btn-warning d-flex justify-content-center p-2 pl-3 pr-3 mb-1 br-7 button-update">
									<%= category?.en?.status !=0 ? 'Đã duyệt' : 'Đã ẩn' %>
								</div>
								<% } %>
						</td>
						<td style="width: 70px">
							<div class="d-flex flex-column justify-content-center">
								<a href="/admin/post-categories/<%=category._id%>?lang=en" data-id="<%=category._id%>"
									class="button btn-info p-2 pl-3 pr-3 br-7 mb-2">Chỉnh sửa</a>
								<div data-url="/admin/post-categories/<%=category._id%>" data-id="<%=category._id%>"
									class="button btn-secondary p-2 pl-3 pr-3 br-7 button-remove">
									Xoá
								</div>
							</div>
						</td>
					</tr>
					<% }) %>
			</tbody>
		</table>
		<br />
		<br />
		<div class="container d-flex justify-content-center">
			<div class="pagination" style="margin: auto; align-self: center; justify-self: center">
				<% pagination.forEach((link, index)=> {%>
					<a class="<%=page == index + 1 ? 'active': '' %>" href="<%=link%>">
						<%=index+1%>
					</a>
					<%}) %>
			</div>
		</div>
</div>