<div class="breadcrumbs">
	<div class="page-header float-left">
		<div class="page-title">
			<h1 class="d-inline-block float-left">
				<%= title %>
			</h1>
		</div>
	</div>
</div>



<div class="col-lg">
	<form method="PUT" action="/admin/robot" class="form-horizontal">
		<div class="card" style="max-width: 600px">
			<div class="card-header">
				<strong style="text-transform: uppercase">Robots.txt</strong>
			</div>

			<div class="card-body" style="padding: 20px !important; position: relative">
				<div class="form-group">
					<label for="">Review (click để mở file): </label>
					<a href="/robots.txt" target="_blank" rel="noopener noreferrer">Robots.TXT</a>
					<br />
					<br />
					<label for="">Upload file mới</label>
					<input type="file" name="file" id="" required />
				</div>
			</div>

			<div class="card-footer">
				<button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-dot-circle-o"></i> Tạo
					mới</button>
				<button type="reset" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i>Reset</button>
			</div>
		</div>
		<label for="open-create-user" class="hidden-form-backdrop"></label>
	</form>
</div>